apiVersion: v1
kind: Secret
metadata:
  name: appclacks-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "organization_id": "xxx-xxx-xxx",
      "token": "xxxx_xxx-xxx"
    }
